@charset "utf-8";
/* CSS Document */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1vw;
	color:rgb(31, 33, 34);
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color:rgb(68, 68, 68);
  color: rgb(177, 177, 177);
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
  
  
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: rgb(0, 108, 201);
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 80px;
  background-color: #007dbb;
  color: #ffffff;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  padding-top: 10px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
  
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: calc(33% - 30px);
  box-sizing: border-box;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  /* min-height: 248px; */
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #a66900 !important;
  border-bottom: 3px solid #eee;
  color: #ffffff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  position:relative;
  left:0px;
  bottom:0px;
  height:30px;
  width: calc(50% - 40px)
}
#restaurant-name {
  color:rgb(213, 114, 0);
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: calc(50% - 80px);
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h3 {
  color:rgb(127, 66, 0);
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
 opacity: 1;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

/* ====================== Media queries ====================== */

@media only screen and (max-width: 550px) {
  #restaurants-list li {
    width: 100% !important;
    box-sizing: border-box; /* subtract for card padding and margin */
  }
  .filter-options select {
  width: 95%;
  }
   .filter-options{
     padding-bottom: 65px
   }
}

@media screen and (max-width: 449px) {
  #restaurants-list li {
    width: 100% !important;
    box-sizing: border-box; /* subtract for card padding and margin */
  }
  .filter-options select {
  width: 95%;
  }
   .filter-options{
     padding-bottom: 65px
   }
}

@media screen and (min-width: 550px) and (max-width: 800px){
  #restaurants-list li {
    width: calc(50% - 30px)
    
  }
}

/* ====================== Deatails page ====================== */
@media screen and (max-width: 800px) {
  #maincontent{
    display: flex;
    flex-direction: column;
  }
  .inside #map-container{
    position: relative;
    height: 300px;
    width: 96%;
    top: 130px;
    margin: 5px;
  }
  #restaurant-container, #reviews-container {
    width: calc(100% - 100px);
  }
  .inside #footer{
    width: calc(100% - 42px);
   

  }
  #breadcrumb{
    position: fixed;
    width:calc(100% - 50px);
    height: auto;
  }
  #restaurant-img{
    width: 100%
  }
  #restaurant-cuisine{
    width: 100%
  }
  #reviews-list li{
    width: 100%;
    
    box-sizing: border-box;
   
  }
  body,td,th,p{
    font-size: 1.8vw
  }
  #restaurant-address {
    font-size: 10pt;
    margin: 10px 0px;
  }
  
}
